%categoryTitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 50px;
}
%btn {
  text-decoration: none;
  color: inherit;
  border: $border;
  padding: 7px 25px;
  border-radius: 20px;
  margin-right: 10px;
  &:hover {
    background-color: black;
    color: white;
    transition: all 0.2s linear;
  }
}
