@import url("https://fonts.googleapis.com/css?family=PT Serif");
@import "_elements.scss";
@import "_variables.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", serif;
  background-color: #f0efeb;
  color: $black;
  padding: 30px 40px;
  line-height: 1.5;
}
